nav {
    border-bottom: 2px solid white;
}
header {
    background-image:url(./Black/Black/media/moon.jpg);
    background-size: cover;
    background-position: center;
}
.button-custom-hero {
    margin-top: 25rem;
}
@media screen and(max-width:992px) {
    .title-custom 
    {
    color: black;
    align-items: center;
   }
}