* {
    font-family: 'Orbitron', sans-serif;
}
nav {
    border-bottom: 2px solid white;
    
}

.text-blue {
    color: #2B9DF4;
}
header{
    margin-top: 58px !important;
}
.img-bg {
    background-image:url(./Black/Black/media/moon.jpg);
    background-size: cover;
    background-position: center;
}
.position-custom {
    top:85%;
    left: 50%;

    
}
.border-custom {
    border-bottom: 1px solid  #2b9df4;
    width: 100%; 
}

.spazio {
    height: 220px;
}

.h2-custom {
    color: #2b9df4;
}



.border-custom1 {
    border-bottom: 1px solid #2b9df4;


}


.rocket-custom {
    background-image: url(./Black/Black/media/missile-2027068_1280.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

@media screen and (max-width:992px) {
    .rocket-text {
        color: #0d3b66 !important;
        font-weight: bold !important;
    }
    .rocket-custom {
        margin-top: -100px;
    }
    .title-custom 
    {
     justify-content: flex-start !important;
     align-items: center;
     padding-top: 20px;
   }
}
.button {
    color: #2B9DF4;
    border: 6px solid #2B9DF4;
    border-radius:15px;
    font-size: 20px;
    font-family: tahoma;
    letter-spacing:5px;
    cursor: pointer;
    font-weight: bold;
    filter: drop-shadow(0 0 15px #2B9DF4) drop-shadow(0 0 50px #2B9DF4) contrast(1) brightness(1);
    transition: .5s;
  }
  
  .button:hover {
    color: black;
    background-color: #2B9DF4;
    filter: drop-shadow(0 0 20px #2B9DF4) contrast(2) brightness(2);
  }
