nav {
    border-bottom: 2px solid white;
    
}
header{
    margin-top: 58px !important;
}
.img-bg {
    background-image:url(./Black/Black/media/moon.jpg);
    background-size: cover;
    background-position: center;
}
.position-custom {
    top:85%;
    left: 50%;

    
}
@media screen and (max-width:992px) {
    .title-custom 
    {
     justify-content: flex-start !important;
     align-items: center;
     padding-top: 20px;
     
   }
}